<!DOCTYPE html>
<html>

<head>
    <title>Workouts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <button id="add-new-workout-btn">Add New Workout</button>
    <form id="add-workout-form" action="/add_workout" method="post">
        <textarea name="workout_data" rows="50", cols="100"></textarea>
        <input type="submit" value="Submit Workout">
    </form>

    {% for workout, exercises in workout_data.items() %}
    <h2>{{ workout[0] }} - {{ workout[1] }}</h2>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Set Number</th>
            <th>Weight</th>
            <th>Reps</th>
        </tr>
        {% for exercise in exercises %}
        <tr>
            <td>{{ exercise[0] }}</td>
            <td>{{ exercise[1] }}</td>
            <td>{{ exercise[2] }}</td>
            <td>{{ exercise[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endfor %}

        <script src="{{ url_for('static', filename='hide.js') }}"></script>
</body>

</html>
