<!DOCTYPE html>
<html>

<head>
    <title>Workouts</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

</head>

<body>
    {% for workout, exercises in workout_data.items() %}
    <h2>{{ workout[0] }} - {{ workout[1] }}</h2>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Set Number</th>
            <th>Weight</th>
            <th>Reps</th>
        </tr>
        {% for exercise in exercises %}
        <tr>
            <td>{{ exercise[0] }}</td>
            <td>{{ exercise[1] }}</td>
            <td>{{ exercise[2] }}</td>
            <td>{{ exercise[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endfor %}


</body>
</html>
